.todo-container {
  margin: auto;
  width: 50%;
  background-image: linear-gradient(to right, rgb(233, 180, 220), rgb(182, 229, 229));
  padding: 10px;
}

.App {
  background-image: linear-gradient(to right, rgb(233, 180, 220), rgb(182, 229, 229));
  height: 100vh;
}

.row-header{
  margin:0px auto;
  padding:0px auto;
  background-image: linear-gradient(to right, rgb(182, 229, 229), rgb(233, 180, 220));
}

.todo-taskname{
  overflow-wrap: break-word;
}

.todo-task-container{
  border-radius: 15px;
}